nz-header {
    background: #001529;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 24px;
}

.content-wrapper {
    padding: 24px;
}

nz-card {
    margin-bottom: 16px;
}

#chart {
    max-width: 650px;
    margin: 35px auto;
}