<div class="d-flex">
  <div>
    <div class="sidebar custom-navbar" [class.actived]="isActive">
      <div class="sidebar-header">
        <!-- <img src="/assests/images/MyFinancialBook_logo.png" alt="test" /> -->

        <p>My Financial Book</p>
        <!-- <button (click)="toggleSidebar()">&times;</button> -->
      </div>
      <ul class="sidebar-list custom-navbar-nav">
        <li
          [class.active1]="activeItem === 'Dashboard'"
          (click)="setActive('Dashboard')"
          routerLink="dashboard"
        >
          <i class="zmdi zmdi-view-dashboard"></i>
          <a>Dashboard</a>
        </li>
        <li
          [class.active1]="activeItem === 'About'"
          (click)="setActive('About')"
          routerLink="income-tracker"
        >
          <!-- <i class="zmdi zmdi-money income-icon-wrapper"></i> -->
          <i class="zmdi zmdi-money-box"></i>

          <a>Income Tracking</a>
        </li>
        <li
          [class.active1]="activeItem === 'Services'"
          (click)="setActive('Services')"
          routerLink="expense-tracker"
        >
          <i class="zmdi zmdi-shopping-cart"></i>
          <a>Expense Tracking </a>
        </li>
        <li
          [class.active1]="activeItem === 'Savings'"
          (click)="setActive('Savings')"
          routerLink="savings-tracker"
        >
          <i class="zmdi zmdi-balance-wallet"></i>
          <a>Savings & Investments</a>
        </li>
        <li
          [class.active1]="activeItem === 'analytics'"
          (click)="setActive('analytics')"
          routerLink="analytics"
        >
          <i class="zmdi zmdi-chart"></i>
          <a> Analytics</a>
        </li>
        <li
          [class.active1]="activeItem === 'profile'"
          (click)="setActive('profile')"
          routerLink="profile"
        >
          <i class="zmdi zmdi-account"></i>
          <a>Profile</a>
        </li>
        <li (click)="logout()">
          <i class="zmdi zmdi-sign-in"></i>

          <a>Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-100">
    <div class="w-100 d-flex justify-content-between">
      <div class="content">
        <button class="open-btn" (click)="toggleSidebar()">☰</button>
      </div>
      <div class="btn-group mr-2" dropdown>
        <span dropdownToggle>
          <nz-avatar
            nzText="P"
            nzSize="large"
            nzTooltipTitle="profile"
            class="avatar-wrapper"
          ></nz-avatar>
        </span>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="button-basic "
        >
          <li role="menuitem ">
            <a class="dropdown-item" routerLink="profile">
              <i class="zmdi zmdi-account-circle"></i> Profile</a
            >
          </li>

          <li class="divider dropdown-divider"></li>
          <li role="menuitem ">
            <a class="dropdown-item" (click)="logout()">
              <i class="zmdi zmdi-long-arrow-left"></i> Logout</a
            >
          </li>
        </div>
      </div>
    </div>
    <router-outlet />
  </div>
</div>
