<nz-layout>
    <nz-content style="margin: 24px 16px; padding: 24px; background: #fff">
        <div class="w-100 d-flex justify-content-end">
            <button class="button-wrapper" nzType="primary" (click)="showModal()">
        <span class="button-wrraper-icon"
          ><i class="zmdi zmdi-plus-circle"></i
        ></span>
        Add New Expense
      </button>
        </div>
        <nz-table #basicTable [nzData]="expenseEntries">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entry of basicTable.data">
                    <td>{{ entry.date | date }}</td>
                    <td>{{ entry.category }}</td>
                    <td>{{ entry.amount }}</td>
                    <td>{{ entry.description }}</td>
                    <td>
                        <button nz-button nzType="link" (click)="editEntry(entry)">
              Edit
            </button>
                        <button nz-button nzType="link" nzDanger (click)="deleteEntry(entry)">
              Delete
            </button>
                    </td>
                </tr>
            </tbody>
        </nz-table>

        <nz-modal [(nzVisible)]="isModalVisible" nzTitle="Add/Edit Expense" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
            <ng-container *nzModalContent>
                <form nz-form [formGroup]="expenseForm">
                    <nz-form-item>
                        <nz-form-label nzSm="6" nzXs="24" nzFor="date">Date</nz-form-label>
                        <nz-form-control nzSm="14" nzXs="24">
                            <nz-date-picker formControlName="date" nzFormat="yyyy-MM-dd"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSm="6" nzXs="24" nzFor="category">Category</nz-form-label>
                        <nz-form-control nzSm="14" nzXs="24">
                            <nz-select formControlName="category" nzPlaceHolder="Select Category">
                                <nz-option nzValue="Food" nzLabel="Food"></nz-option>
                                <nz-option nzValue="Transport" nzLabel="Transport"></nz-option>
                                <nz-option nzValue="Entertainment" nzLabel="Entertainment"></nz-option>
                                <nz-option nzValue="Other" nzLabel="Other"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSm="6" nzXs="24" nzFor="amount">Amount</nz-form-label>
                        <nz-form-control nzSm="14" nzXs="24">
                            <input nz-input formControlName="amount" type="number" placeholder="Enter Amount" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSm="6" nzXs="24" nzFor="description">Description</nz-form-label>
                        <nz-form-control nzSm="14" nzXs="24">
                            <input nz-input formControlName="description" type="text" placeholder="Enter Description" />
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </ng-container>
        </nz-modal>
    </nz-content>
</nz-layout>