<nz-layout>
  <nz-content
    style="margin: 24px 16px; padding: 24px; background: #fff; min-height: 85vh"
  >
    <app-loader *ngIf="loading"></app-loader>
    <div class="w-100 d-flex justify-content-end">
      <button class="button-wrapper" nzType="primary" (click)="showModal()">
        <span class="button-wrraper-icon"
          ><i class="zmdi zmdi-plus-circle"></i
        ></span>
        Add New Expense
      </button>
    </div>
    <div class="table-scroll-wrapper">
      <nz-table #basicTable [nzData]="expenseData">
        <thead>
          <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Sub Category</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of basicTable.data">
            <td>{{ entry.Title }}</td>
            <td>{{ entry.Category.name }}</td>
            <td>{{ entry.SubCategory.name }}</td>
            <td>{{ entry.amount }}</td>
            <td>{{ entry.description }}</td>
            <td>{{ formatDate(entry.date) }}</td>
            <td>
              <button nz-button nzType="link" (click)="editEntry(entry)">
                Edit
              </button>
              <button
                nz-button
                nzType="link"
                nzDanger
                (click)="deleteEntry(entry)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <nz-modal
      [(nzVisible)]="isModalVisible"
      [nzFooter]="modalFooter"
      nzTitle="Expense"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
    >
      <ng-container *nzModalContent>
        <form nz-form [formGroup]="expenseForm" (ngSubmit)="submitForm()">
          <div class="form-floating mb-3">
            <input
              type="text"
              formControlName="title"
              class="form-control"
              id="title"
              placeholder="Title"
            />
            <label for="title">Title*</label>
            <div
              *ngIf="expenseForm?.controls?.['title']?.touched&&expenseForm?.controls?.['title']?.errors?.['required'] "
              class="text-danger"
            >
              Title is required
            </div>
          </div>
          <div class="form-floating mb-3">
            <select
              class="form-select"
              formControlName="category"
              id="category"
              aria-label="Floating label select example"
              (change)="onCategoryChange($event)"
            >
              <option value="" disabled>Select</option>
              <option
                *ngFor="let category of categories"
                [value]="category?.id"
              >
                {{ category?.name || "" }}
              </option>
            </select>
            <label for="lineItemId">Category *</label>
            <div
              *ngIf="expenseForm?.controls?.['category']?.touched&&expenseForm?.controls?.['category']?.errors?.['required'] "
              class="text-danger"
            >
              Category is required
            </div>
          </div>
          <div class="form-floating mb-3">
            <select
              class="form-select"
              formControlName="subcategory"
              id="subcategory"
              aria-label="Floating label select example"
            >
              <option value="" disabled>Select</option>
              <option *ngFor="let sub of subCategory" [value]="sub?.id">
                {{ sub?.name || "" }}
              </option>
            </select>

            <label for="lineItemId">Sub Category *</label>
            <div
              *ngIf="expenseForm?.controls?.['subcategory']?.touched&&expenseForm?.controls?.['subcategory']?.errors?.['required'] "
              class="text-danger"
            >
              Sub category is required
            </div>
          </div>

          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              formControlName="description"
              placeholder="Leave a comment here"
              id="floatingTextarea2"
              style="height: 100px"
            ></textarea>
            <label for="floatingTextarea2">Description *</label>
            <div
              *ngIf="expenseForm?.controls?.['description']?.touched&&expenseForm?.controls?.['description']?.errors?.['required'] "
              class="text-danger"
            >
              Description is required
            </div>
          </div>

          <div class="form-floating mb-3">
            <input
              type="text"
              formControlName="amount"
              class="form-control"
              id="amount"
              placeholder="Amount"
            />
            <label for="amount">Amount *</label>
            <div
              *ngIf="expenseForm?.controls?.['amount']?.touched&&expenseForm?.controls?.['amount']?.errors?.['required'] "
              class="text-danger"
            >
              Anount is required
            </div>
          </div>
          <div class="form-floating mb-3">
            <input
              type="date"
              formControlName="date"
              class="form-control"
              id="date"
              placeholder="Date"
            />
            <label for="date,">Date *</label>
            <div
              *ngIf="expenseForm?.controls?.['date']?.touched&&expenseForm?.controls?.['date']?.errors?.['required'] "
              class="text-danger"
            >
              Date is required
            </div>
          </div>

          <div class="submit-button-wrapper d-flex justify-content-end">
            <button
              [ngClass]="[
                'button-wrapper',
                'button-wrapper-handle',
                !expenseForm.valid ? 'disable-button' : ''
              ]"
              [disabled]="!expenseForm.valid"
              type="submit"
            >
              Save
            </button>
          </div>
        </form>
      </ng-container>
      <ng-template #modalFooter> </ng-template>
    </nz-modal>
  </nz-content>
</nz-layout>
